<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="icon/momo.png">

    <title> MOMO IN NEPAL </title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">
  </head>

  <body>

    <section class="jumbotron text-xs-center">
      <div class="container">
        <h1 class="jumbotron-heading"> MOMO IN NEPAL </h1>        
    </section>

    <div class="album text-muted">
      <div class="container">

        <div class="row">
          <div class="card">
          	<a href="http://www.travbuddy.com/Mo-Mo-Mania-v820439">
			<img src="images/momomaina.jpg" class="img-rounded" alt="Cinque Terre" width="350" height="250"> 
			   MOMO MAINA </a>
          </div>

          <div class="card">
          	<a href="https://www.tripadvisor.com/Restaurant_Review-g293890-d4883987-Reviews-Thamel_Momo_Hut-Kathmandu_Kathmandu_Valley_Bagmati_Zone_Central_Region.html">
          	<img src="images/thamelmomo.jpg" class="img-rounded" alt="Cinque Terre" width="350" height="250">
            THAMEL MOMO HUT </a>
          </div>

          <div class="card">
          	<a href="https://kathmandufoodies.wordpress.com/2013/11/25/classic-momo-cha-jhol-achar-recipe/">
         	<img src="images/classicmomo.jpg" class="img-rounded" alt="Cinque Terre" width="350" height="250">
            CLASSIC MO:MO </a>
          </div>
                    
        </div>

      </div>
    </div>

    <footer class="text-muted">
      <div class="container">
        <p class="pull-xs-right">
          <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      $(function () {
        Holder.addTheme("thumb", { background: "#55595c", foreground: "#eceeef", text: "Thumbnail" });
      });
    </script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
